@{
    ViewData["Title"] = "Add";
}
<form method="post">

<div class="text-center">
<h1 class="display-4" style="color:red; font-family:Impact, Charcoal, sans-serif;">@ViewData["Title"]</h1>
</div>
<div class = "text-center">
<div class="card">
<p style="color:red;">Please Enter Name of City</p>
<input type="text" class="form-control" name="city">
<p style="color:red;">Please Enter the population in the given city</p>
<input type="text" class="form-control" name="population">
   <button class="btn btn-primary">Submit</button>
</div>
</div>
</form>