@{
    ViewData["Title"] = "Import Data";
}
<div class="text-center">
<h1 class="display-4" style="color:red; font-family:Impact, Charcoal, sans-serif;">@ViewData["Title"]</h1>
</div>
<div class = "text-center">
<div class="card">
<form method="post" enctype="multipart/form-data">
    File: <input name="file" type="file">
    <button>Upload</button>
<p style="color:red;">Please Specify the given Date of the File</p>
<input type="text" class="form-control" id="dateHired" name="dateHired">
   <button class="btn btn-primary">Submit</button>
     </form>
</div>
</div>
